{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .profile{
        width: 300px;
        height: 300px;
        background-color: grey;
        margin: 30px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    }
</style>
<body>
    <h1 class="text-4xl font-bold ml-3 mt-3">About Me</h1>
    {% for aboutme in about%}
    <div class="aboutme">
        <p class="text-gray-700 font-bold text-2xl m-3">{{aboutme.full_name}}</p>
        <p class="text-gray-700  text-xl m-3">Updated On :{{aboutme.updated_on}}</p>
        <div class="profile" style="background-image: url('{{ aboutme.profile_pic.url }}');">
            {% if not aboutme.profile_pic %}
            <p class="text-gray-700 text-xl m-3">No profile picture available.</p>
            {% endif %}
        </div>
        <p class="text-gray-700  text-xl m-3">{{aboutme.about}}</p>
    </div>
    {%endfor%}
</body>
</html>

{%endblock%}