{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-6">
    <div class="container mx-auto">
        <div class="bg-gray-100 m-2 shadow-lg rounded-lg overflow-hidden card">
            <div class="bg-white">
                {% if post.titleImage %}
                <img src="{{ post.titleImage.url }}" alt="{{ post.title }}" class="w-full object-cover transition-transform duration-300 zoom">
                {% endif %}
                <div class="p-4">
                    <h1 class="text-3xl font-bold">{{ post.title }}</h1>
                    <p class="text-gray-700 mt-4">By: {{ post.author }}</p>
                    <p class="text-gray-600 text-sm mb-4">{{ post.created_on }}</p>
                    <p class="text-gray-700">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{%endblock%}
